<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <meta charset="UTF-8">
    <title>Thêm sản phẩm mới</title>
</head>

<body>
<main layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Thêm sản phẩm mới</h5>
        </div>

        <div class="card-body">

            <form th:action="@{/admin/product/product-add-form}"
                  th:object="${product}"
                  method="post">
                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label class="form-label">Tên sản phẩm <span class="text-danger">*</span></label>
                    <input type="text" th:field="*{title}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Hình ảnh (URL)</label>
                    <input type="text" th:field="*{image}" class="form-control">
                    <img th:src="${product.image}" width="200">
                </div>

                <div class="mb-3">
                    <label class="form-label">Tác giả</label>
                    <input type="text" th:field="*{author}" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Nhà xuất bản</label>
                    <input type="text" th:field="*{publisher}" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Giá</label>
                    <input type="text" th:field="*{price}" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Trạng thái</label>
                    <select th:field="*{status}" class="form-select">
                        <option value="active">Hiển thị</option>
                        <option value="inactive">Ẩn</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <select th:field="*{category.id}"class="form-select">
                        <option th:each="c: ${categories}" th:text="${c.title}" th:value="${c.id}" ></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mô tả chi tiết</label>
                    <textarea th:field="*{description}" class="form-control" rows="6"></textarea>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <a th:href="@{/admin/product/product-list}" class="btn btn-secondary">Quay lại</a>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>