<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <meta charset="utf-8">
    <title>Blank</title>
</head>

<body id="page-top">
<main layout:fragment="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
                </div>
            </div>
</main>

</body>

</html>